<!DOCTYPE html>
<html lang="en_us">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      {{#if stylesheet}}
          <link rel="stylesheet" href="/stylesheets/{{stylesheet}}">
      {{/if}}
  </head>
  <body>
    {{{body}}}
    {{# if script }}
        <script src="/javascripts/{{ script }}"></script>
    {{/if}}
  </body>
</html>
