<div class="container">
    <h1>Thanks for using our lightning-fast engine.</h1>

    <form>
        <label for="shortLink">Here is the link you asked for:</label>
        <input type="text" onclick="this.select()" value="{{ shortLink }}" id="shortLink">
    </form>
</div>
